header {
  background-color: rgb(179, 128, 0);
  text-align: center;
  padding: 20px;
}

h1 {
    color: black;
}

body {
  background-color: rgb(184, 184, 184);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

form {
  max-width: 460px;
  margin: 20px auto;
}

.red-text {color:red !important;
}

.btn-options {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 300px;
  right: 28px;
  width: 280px;
}

.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-popup {
  display: none;
  position:fixed;
  bottom: 0;
  right: 15px;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}